#button1 {

    font-family: 'Pacifico', cursive;
}

#button2 {
    font-family: 'Monoton', cursive;
    font-family: 'Lobster', cursive;
    
}

#button3 {
    font-family: 'Aldrich', sans-serif;
    
}

#button4 {
    font-family: 'Monoton', cursive;
    font-family: 'Lobster', cursive;
    
}

#button5 {
    font-family: 'Aldrich', sans-serif;
    
}
